body {
  font-family: "Source Sans Pro", sans-serif;
}

body h1 {
  font-family: "Playfair Display", serif;
}

body a {
  text-decoration: none;
}

.heroes {
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-bottom: 8rem;
}

.cards .card {
  transition: 0.5s;
}

.cards .card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.cards .card:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175);
}

.cards .card .card-img-top {
  height: 235px;
  object-fit: cover;
}

@media (min-width: 576px) {
  .cards {
    justify-content: space-around;
  }
}
